<?xml version="1.0" encoding="UTF-8"?>
<suite name="Simple Logger Suite">
    <listeners>
        <listener class-name="Log4jDemo.ListenerFotTestNG"/>
    </listeners>

    <test name="Simple Logger test">
        <classes>
            <class name="Log4jDemo.DataDrivenTest"/>
        </classes>
    </test>
</suite>